[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Siilihai
Icon=/usr/share/icons/hicolor/90x90/apps/siilihai-mobile.png
Exec=siilihai-mobile

